
<p><%="Happy Birthday " %><%= @user.first_name %><%= "!!!"   %></p>
<p style="padding-top: 19px;"></p>
<h1><span style="color: #242424; font-family: Georgia; font-size: large;">
    <div id="image_box">
      <%= image_tag(@image) %>
    </div>
  </span>
</h1>
<%= @email_body %>