<div id="content">
	<p id="notice"> <%= notice %> </p>
	<h2> Change Password </h2>
	<% form_tag(:controller => "users", :action => "save_password", :id => session[:user].id) do %>
	<p>
		<label>Old Password<br/> <%= password_field :update_user, :old_password %></label>
	</p>
	<p>
	 	<label>New Password<br/> <%= password_field :update_user, :new_password %></label>
	</p>
	<p>
		<label>Confirm Password<br/> <%= password_field :update_user, :confirm_password %></label>
	</p>
	<%= submit_tag %>
	<% end %>
</div>		