<div id="content">
<h2> User Registration </h2>

<% form_for @user, :action => 'create' do |f| %>
 <% if @user.errors.any? %>
   <div id="errormessage">
   <ul>  
   <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %> </li>
    <% end %>
   </ul> 
  </div>
 <% end %>


  <p><b><%= f.label :user_name, 'Username' %></b><br/><%= f.text_field :user_name %></p>
 <p><b><%= f.label :password, 'Password' %></b><br/><%= f.password_field :password %><p>
  <p><b><%= f.label :password_confirmation, 'Password Confirmation' %></b><br/><%= f.password_field :password_confirmation %></p>
<p><b><%= f.label :first_name, 'First Name' %></b><br/><%= f.text_field :first_name %> </p>
   <p><b><%= f.label :last_name, 'Last Name' %></b><br/><%= f.text_field :last_name %></p>
<p><b><%= f.label :birthdate, 'Birthday (mm/dd/yyyy)' %></b><br/><%= f.text_field :birthdate %></p>
  <p><b> <%= f.label :email, 'Email address' %></b><br/><%= f.text_field :email %></p>
   <p><b><%= f.label :phone_number, 'Phone' %></b><br/><%= f.text_field :phone_number %></p>
 
  <%= f.submit "Submit" %>
<% end %>
</div>


